.userprofile__header {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 5px;
}

.userprofile__post {
    margin: auto;
    text-align: center;
    border: 1px solid black;
    width: 75%;
    border-radius: 6px;
    padding: 20px; 
    margin-top: 25px;
    margin-bottom: 25px;
}

/* hello */