/* .helpRequest {
    display: flex;
    margin-top: 25px;

} */

.hr__header {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 1px;
}

.newhr__button {
    display: flex;
    justify-content: center;
}

/* .newHR__button {
    margin-top: 25px;
    margin-bottom: 25px;
    
} */

.helpRequest {
    margin: auto;
    text-align: center;
    border: 1px solid black;
    width: 75%;
    border-radius: 6px;
    padding: 20px; 
    margin-top: 25px;
    margin-bottom: 25px;
}

.hr__form {
    margin: auto;
    text-align: center;
    border: 1px solid black;
    width: 75%;
    border-radius: 6px;
    padding: 20px; 
    margin-top: 25px;
    margin-bottom: 25px;
}

.edithr__header {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}